html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  background: url('./assets/background.jpg') center;
  min-height: 100vh;
}

.wrapper {
  background: rgba(10, 10, 10, 0.75);
  text-align: center;
  min-height: 100vh;
}

.main h1{
  color: #FFF;
}

.main h3{
  color: #FFF;
}

.logo {
  height: 40px;
}

.title {
  margin-top: 30vh;
}

.evaluate {
  border-radius: 20px;
  width: 10vw;
}

.evaluate-property {
  border-radius: 20px;
}

.container {
  text-align: center;
}

.container p {
  color: #666;
}

.container select, .container Input {
  border: none !important;
  border-bottom: 1px solid grey !important;
  border-radius: 0px !important;
  width: 100%;
  text-align: right;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
}

footer {
  background-color: #202120;
  text-align: center;
}

footer p {
  color: #fff;
}

.content-loader{
  padding-top: 45vh;
  min-height: 100vh;
}